.car-table-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.car-table-wrapper {
  width: 100%; /* Occupies the full width initially */
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: width 0.3s ease-in-out;
}

.details-container {
  width: 48%; /* Initial width when details are shown */
  max-height: 600px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* Initially hidden */
}

.car-table-container.show-details .car-table-wrapper {
  width: 48%; /* Shrinks to share space with details table */
}

.car-table-container.show-details .details-container {
  opacity: 1; /* Makes the details table visible */
}

.car-table-header, .details-header {
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  background-color: #005967;
  padding: 12px;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.car-table {
  width: 100%;
  border-collapse: collapse;
}

.car-table th, .car-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.car-table th {
  background-color: #f2f2f2;
  color: #333;
}

.car-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.car-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #e0f7fa;
  cursor: pointer;
}

.favorite-button {
  border: none;
  background: transparent;
  font-size: 1.4em;
  cursor: pointer;
}

.favorite-button.gold {
  color: gold;
}

.car-image {
  width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}
